:root {
    --primary-color: #E3B361;
    --secondary-color: #6B7280;
    --text-dark: #1F2937;
    --text-light: #FFFFFF;
    --form-bg: rgba(255, 255, 255, 0.534);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    color: var(--text-dark);
    background-color: var(--text-dark);
}

.back-arrow {
    position: fixed;
    top: 15px;
    left: 15px;
    font-size: 25px;
    background-color: transparent;
    color: var(--text-dark);
    text-decoration: none;
    font-weight: 800;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: color 0.3s;
}

.back-arrow:hover {
    color: white;  /* Cambia el color al pasar el ratón por encima */
}

.back-arrow i {
    margin-right: 5px; /* Espacio entre la flecha y el texto */
}

.container {
    display: flex;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/machine.jpg') no-repeat center center/cover;
}

.info-section {
    flex: 1;
    padding: 60px 100px;
    background: var(--primary-color);
    color: var(--text-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.info-section h1 {
    font-size: 2.5rem;
    color: white;
    margin-bottom: 25px;
    font-weight:800;
    text-shadow: 2px 2px 4px rgba(0,0,0,1);
}

.info-section p {
    margin-bottom: 30px;
    color: var(--text-dark);
    font-weight: 700;
    font-size: 1.2rem;
}

.benefit-list {
    list-style-type: none;
    margin-bottom: 30px;
}

.benefit-list li {
    display: flex;
    color: var(--text-dark);
    align-items: center;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.benefit-list li::before {
    content: '✓';
    color: var(--secondary-color);
    margin-right: 15px;
    font-weight: bold;
    font-size: 2rem;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-top: 20px;
    font-size: 50px;
}

.social-icons a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s ease;
    border: 4px solid #333; 
    border-radius: 30%; 
    width: 1.3em;
    height: 1.3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icons a:hover {
    color: #FF713D;
}
.form-section {
    flex: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: relative;
    z-index: 1;
}

.form-container {
    width: 100%;
    max-width: 600px;
    background-color: var(--form-bg);
    border-radius: 12px;  /* Ligera reducción de la curvatura */
    padding: 30px;  /* Reducido ligeramente para un diseño más compacto */
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);  /* Sombra más suave */
    backdrop-filter: blur(6px);  /* Desenfoque ligeramente mayor para un efecto más nítido */
    position: relative;
    z-index: 10;
}

.form-title {
    text-align: center;
    color: var(--text-dark);
    margin-bottom: 18px;  /* Margen reducido */
    font-size: 2.125rem;  /* Un poco más grande para destacar */
    font-weight: 800;  /* Un poco menos grueso para suavizar el impacto */
}

.form-group {
    margin-bottom: 18px;  /* Un poco más espacio entre los grupos */
}

.form-label {
    display: block;
    margin-bottom: 8px;  /* Aumentado ligeramente para mayor espacio */
    color: var(--text-dark);
    font-weight: 600;
    font-size: 1.25rem;
}

.form-input, .form-select {
    width: 100%;
    padding: 14px;  /* Un poco más de relleno para mayor comodidad */
    border: 2px solid #ddd;
    border-radius: 12px;  /* Curvatura un poco más suave */
    transition: all 0.3s ease;
    font-size: 1.125rem;
}

.form-input:focus, .form-select:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 0 3px rgba(227, 179, 97, 0.4);
}

.submit-btn {
    margin-top: 30px;
    width: 50%;
    padding: 14px;
    background-color: var(--primary-color);
    color: var(--text-light);
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.25rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-align: center;
    display: block;  /* Hace que el botón sea un bloque */
    margin-left: auto;  /* Centra el botón */
    margin-right: auto;  /* Centra el botón */
}

.form-input, .form-select, .iti {
    width: 100%;

}

.submit-btn:hover {
    background-color: #c99b50;
    transform: translateY(-3px);
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .info-section {
        flex: unset;
        padding: 40px;
    }

    .info-section h1 {
        font-size: 2.5rem;
    }
}